<%= javascript_include_tag "district_map" %>
<h1 id="title">Open Street Crimes - Historic District Map 2011(<%= link_to 'Heatmap', 'maps' %>)</h1>

<%= content_tag "div", id: 'map', class: 'smallmap', data: {district: @districts, center_x: @center.x, center_y: @center.y, quantils: @quantils, colors: @colors} do %>
<% end %>
<button name 'Toggle' type='button' id='button'>Change to Weighted</button>
<div id="docs">
  <table>
    <tr>
      <th>Color</th>
      <th>Value</th>
    </tr>
    <% @quantils[:normal].each_with_index do |quantil, i| %>
      <tr>
        <td bgcolor="<%= @colors[i] %>"></td>
        <td id ="quantil<%= i%>"><= <%= quantil %> </td>
      </tr>
    <% end %>
      <tr>
        <td bgcolor="<%= @colors[3] %>"></td>
        <td id='quantil3'>> <%= @quantils[:normal].last %> </td>
      </tr>
  </table>
    <p>Maybe put some statistics right here.
    </p>
  <table width='50%'>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Weighted</th>
    </tr>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district['name'] %></td>
        <td><%= district['count'] %></td>
        <td><%= district['weighted_count'].round(2) %></td>
      </tr>
    <% end %>
  </table>
  </div>
