<!DOCTYPE html>
<html>
<head>
<title>Openstreetcrimes</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= stylesheet_link_tag 'theme/default/style.css' %>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag "OpenLayers.js" %>
<%= javascript_include_tag "heatmap.js" %>
<%= javascript_include_tag "heatmap-openlayers.js" %>
<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
