<!DOCTYPE html>
<html>
<head>
<title>Openstreetcrimes: <%= @title %></title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= stylesheet_link_tag 'theme/default/style.css' %>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag "OpenLayers.js" %>
<%= javascript_include_tag "heatmap.js" %>
<%= javascript_include_tag "heatmap-openlayers.js" %>
<%= csrf_meta_tags %>
<style type="text/css"> img { max-width:none; } </style>
</head>
<body>
<% is_recent = if @title.downcase.include? "historic" then false else true end %>
<div class="navbar">
  <div class="navbar-inner">
    <div class="brand"><%= @title %></div>
    <ul class="nav">
      <li<%= " class='active'" if is_recent %>><a href="/district_heatmap">Recent Crime Data</a></li>
      <li<%= " class='active'i" unless is_recent %>><a href="/historic_heatmap">Historic Crime Data</a></li>
    </ul>
  </div>
</div>

<%= javascript_include_tag "district_map" %>

<div class="row">

<%= content_tag "div", id: 'map', class: 'smallmap span4', data: {district: @districts, center_x: @center.x, center_y: @center.y, quantils: @quantils, colors: @colors} do %>
<% end %>
<div class="span12">
  <div class="row-fluid">
    <div class="span3">
  <button name="Toggle" type='button' id='button' class="btn btn-primary btn-large">Change to Weighted</button>
  <table class="table">
    <tr>
      <th>Color</th>
      <th>Value</th>
    </tr>
    <% @quantils[:normal].each_with_index do |quantil, i| %>
      <tr>
        <td style="background-color: <%= @colors[i] %>;"></td>
        <td id ="quantil<%= i%>">less than or equal to <%= quantil %> </td>
      </tr>
    <% end %>
      <tr>
        <td style="background-color: <%= @colors[3] %>;"></td>
        <td id='quantil3'>greater than <%= @quantils[:normal].last %> </td>
      </tr>
    </table>
    <% link = if @title.downcase.include? "historic" then "/district_heatmap" else "/historic_heatmap" end %>
    <% text = if @title.downcase.include? "historic" then "Recent Crime Data" else "Historic Crime Data (2011)" end %>
    <%= link_to "See #{text}", link, class: 'btn btn-large' %>
  </div>
  <div class="span7 offset2">

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Count</th>
        <th>Weighted</th>
    </tr>
  </thead>
  <tbody>
    <% @districts.each do |district| %>
      <tr>
        <td><%= district['name'] %></td>
        <td><%= district['count'] %></td>
        <td><%= district['weighted_count'].round(2) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
  </div>
</div>
</div>
</body>
</html>
